body, html{
     height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}

#registration {
    width : 330px;
    height: 754px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -377px;
    margin-left: -165px;
}

.user-card {
    width : 400px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 70%;
    margin-top: -200px;
    margin-left: -100px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px 10px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color :#5d6063;
}

.main{
    margin-top: 70px;
}

h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

.form-name {
    font-size: 24px;
    font-weight: 600;
    text-align: center
}
